{% extends 'base/base.html' %}

{% load static %}
<!--==title====================-->
{% block title %}Contact Us - Globle Movies{% endblock title %}


<!--==body============================-->
{% block body %}

<!--==Latest-Movies==================================-->
<section id="latest">

    <!--heading-->
    <div class="latest-heading">
        <h1>Contact Us</h1>
    </div>

    <!--**request-container****-->
    <div class="request-container">
        <!--**message**********-->
        {% if messages %}
            <span class="success-message">{{ message }}</span>
        {% endif %}
        {% if message_success %}
            <span class="success-message">{{message_success}}</span>
        {% endif %}

        {% if error %}
            <span class="error-message">{{error}}</span>
        {% endif %}
        <!--form-->
        <form method="POST">
            {% csrf_token %}
            <h2>Contact Form</h2>
            <input type="text" name="name" placeholder="Your Full Name" required>
            <input type="email" placeholder="Enter Your Email" name="email" required>
            <textarea placeholder="Write Messages..." name="message" required></textarea>
            <button>Submit</button>
        </form>
    </div>

</section>

{% endblock body %}
