{% extends 'base/base.html' %}

{% load static %}
<!--==title====================-->
{% block title %}All Movies And TV Shows - Globle Movies{% endblock title %}
{% block head_meta %}
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="description" content="{{sitedata.meta_description}}">
    <meta name="keywords" content="{{sitedata.meta_keyword}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{sitedata.site_url}}">
    <meta property="og:title" content="{{sitedata.title}}">
    <meta property="og:description" content="{{sitedata.meta_description}}">
{% endblock head_meta %}
<!--==head_code============================-->
{% block head_code %}
<!--==CSS-Swiper==============================-->
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" />
{% endblock head_code %}

<!--==body============================-->
{% block body %}
 <!--heading-->
 <div class="latest-heading" style="max-width:1170px; width:90%; margin:auto;">
    <h2>{{slider.slider_heading}}</h2>
</div>
<!--==slider============================================-->
<section id="main-slider">
    <!-- Swiper -->
    <div class="swiper mySwipermovieslider">
        <div class="swiper-wrapper">

            {% for movie in slider.slide_movies.all|slice:":8" reversed %}
            <!--slide-->
            <div class="swiper-slide">
                <!--box-->
                <div class="main-slider-box">
                    <!--overlayer-->
                    <a href="{% url 'moviepost' movie.permalink %}" class="main-slider-overlay">
                        <i class="fas fa-play"></i>
                    </a>
                    <!--img-->
                    <div class="main-slider-img">
                        <img src="{{movie.movie_thumb.url}}" alt="{{movie.title}}" />
                    </div>
                    <!--text-->
                    <div class="main-slider-text">
                        <!--quality-->
                        <span class="quality">{{movie.movie_quality}}</span>
                        <!--bottom-text-->
                        <div class="bottom-text">
                            <!--name-->
                            <div class="movie-name">
                                <span>{{movie.movie_pulished_date}}</span>
                                <a href="{% url 'moviepost' movie.permalink %}">{{movie.title}}</a>
                            </div>
                            <!--Category-and-rating-->
                            <div class="category-rating">
                                <!--category-->
                                <div class="category">
                                    {% for category in movie.movie_categories.all %}
                                    <a href="{% url 'index' %}search?search={{category.name}}">{{category.name}}</a>
                                    {% endfor %}
                                </div>
                                <!--rating-->
                                <div class="rating">
                                    {{movie.imb_rating}} <img src="{% static 'images/IMDb-icon.png' %}" alt="imbd" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--slide-end-->
            {% endfor %}

        </div>
    </div>
</section><!--slider-end-->

<!--btns-->
<div class="slider-btns">
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<!--slider-end-->

<!--==Latest-Movies==================================-->
<section id="latest">

    <!--heading-->
    <div class="latest-heading">
        <h1>{{sitedata.latest_post_section_heading}}</h1>
        <a href="{% url 'latest' %}">View All</a>
    </div>

    <!--container-->
    <div class="post-container home-post-container">
         <!-- Swiper -->
        <div class="swiper mySwipersmall">
        <div class="swiper-wrapper">
        {% for movie in pagination|slice:":20"  %}
        <div class="swiper-slide">
        <!--post-box-1-->
        <div class="post-box">
            <!--overlayer-->
            <a href="{% url 'moviepost' movie.permalink %}" class="main-slider-overlay">
                <i class="fas fa-play"></i>
            </a>
            <!--img-->
            <div class="post-img">
                <img src="{{movie.movie_thumb.url}}" alt="{{movie.title}}" />
            </div>
            <!--text-->
            <div class="main-slider-text">

                <!--quality-->
                <span class="quality">{{movie.movie_quality}}</span>

                <!--bottom-text-->
                <div class="bottom-text">

                    <!--name-->
                    <div class="movie-name">
                        <span>{{movie.movie_pulished_date}}</span>
                        <a href="{% url 'moviepost' movie.permalink %}">{{movie.title}}</a>
                    </div>

                    <!--Category-and-rating-->
                    <div class="category-rating">
                        <!--category-->
                        <div class="category">
                            {% for category in movie.movie_categories.all %}
                                <a href="{% url 'index' %}search?search={{category.name}}">{{category.name}}</a>
                            {% endfor %}
                        </div>
                        <!--rating-->
                        <div class="rating">
                            {{movie.imb_rating}} <img src="{% static 'images/IMDb-icon.png' %}" alt="imbd" />
                        </div>
                    </div>

                </div>

            </div>
        </div><!--endbox-->
        </div>
        {% endfor %}
    </div>
    </div>
    </div>

</section><!--post-end-->


{% for home_sections in home_sections %}
<!--==Latest-Movies==================================-->
<section id="latest">

    <!--heading-->
    <div class="latest-heading">
        <h3>{{home_sections.section_heading}}</h3>
    </div>

    <!--container-->
    <div class="post-container custome-post-container-home home-post-container">
        <div class="swiper mySwipersmall">
        <div class="swiper-wrapper">
        {% for movie in home_sections.products|slice:":20"%}
        <div class="swiper-slide">
        <!--post-box-1-->
        <div class="post-box">
            <!--overlayer-->
            <a href="{% url 'moviepost' movie.permalink %}" class="main-slider-overlay">
                <i class="fas fa-play"></i>
            </a>
            <!--img-->
            <div class="post-img">
                <img src="{{movie.movie_thumb.url}}" alt="{{movie.title}}" />
            </div>
            <!--text-->
            <div class="main-slider-text">

                <!--quality-->
                <span class="quality">{{movie.movie_quality}}</span>

                <!--bottom-text-->
                <div class="bottom-text">

                    <!--name-->
                    <div class="movie-name">
                        <span>{{movie.movie_pulished_date}}</span>
                        <a href="{% url 'moviepost' movie.permalink %}">{{movie.title}}</a>
                    </div>

                    <!--Category-and-rating-->
                    <div class="category-rating">
                        <!--category-->
                        <div class="category">
                            {% for category in movie.movie_categories.all %}
                                <a href="{% url 'index' %}search?search={{category.name}}">{{category.name}}</a>
                            {% endfor %}
                        </div>
                        <!--rating-->
                        <div class="rating">
                            {{movie.imb_rating}} <img src="{% static 'images/IMDb-icon.png' %}" alt="imbd" />
                        </div>
                    </div>

                </div>

            </div>
        </div><!--endbox-->
        </div>
        
        {% endfor %}
    </div>
    </div>
    </div>



</section><!--post-end-->
{% endfor %}

{% endblock body %}

<!--==script==========================-->
{% block script %}
<!--==JS-Swiper====================================-->
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script>
    /*Initialize Swiper*/
    var swiper = new Swiper(".mySwipermovieslider", {
        slidesPerView: 1,
        spaceBetween: 10,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {
            640: {
                slidesPerView: 2,
                spaceBetween: 20,
            },
            768: {
                slidesPerView: 2,
                spaceBetween: 40,
            },
            1024: {
                slidesPerView: 3,
                spaceBetween: 20,
            },
        },
    });

    /*Initialize Swiper*/
    var swiper = new Swiper(".mySwipersmall", {
        slidesPerView: 1,
        spaceBetween: 10,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {
            360: {
                slidesPerView: 2,
                spaceBetween: 20,
            },
            640: {
                slidesPerView: 3,
                spaceBetween: 20,
            },
            768: {
                slidesPerView: 4,
                spaceBetween: 20,
            },
            1024: {
                slidesPerView: 5.2,
                spaceBetween: 20,
            },
        },
    });
</script>
{% endblock script %}