{% extends 'base/base.html' %}

{% load static %}
<!--==title====================-->
{% block title %}Request Movie - MHD{% endblock title %}


<!--==body============================-->
{% block body %}

<!--==Latest-Movies==================================-->
<section id="latest">

    <!--heading-->
    <div class="latest-heading">
        <h1>Make Request For Movies</h1>
    </div>

    <!--**request-container****-->
    <div class="request-container">
        <!--form-->
        <form method="POST">
            {% csrf_token %}
            <h2>Request Form</h2>
            <input type="text" placeholder="Requested Movie Name" name="movie_name">
            <input type="email" placeholder="Enter Your Email" name="email" >
            <input type="text" name="name" placeholder="Your Full Name" >
            <button>Submit</button>
        </form>

        <!--**message**********-->
        {% if messages %}
            <span class="success-message">{{ message }}</span>
        {% endif %}
        {% if message_success %}
            <span class="success-message">{{message_success}}</span>
        {% endif %}

        {% if error %}
            <span class="error-message">{{error}}</span>
        {% endif %}
    </div>

</section>

{% endblock body %}

<!--==script==========================-->
{% block script %}

{% endblock script %}