<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <!--==Title==================================-->
    <title>{% block title %}{% endblock title %}</title>
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="{{sitedata.site_name}}">
    {% block head_meta %}{% endblock head_meta %}
    <!--Stylesheet(CSS)==========================-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <!--==Fav-icon===============================-->
    <link rel="shortcut icon" href="{{sitedata.fav_icon.url}}"/>

    <!--==Import-poppins-font====================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!--==Import-Monoton-Font====================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

    <!--==Using-Font-Awesome======================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    {% block head_code %}{% endblock head_code %}
    {{sitedata.head_script|safe}}

    <!--==cutome-css========================-->
    <style>
        {% if sitedata.show_ads == True and ads.show_fixed_ad == True %}
        @media(max-width:1000px) {
            .scroll-up {
                bottom: 160px;
            }
        }
        {% else %}
        @media(max-width:1000px) {
            .scroll-up {
                bottom: 30px;
            }
        }
        {% endif %}

        .main-slider-box{
            height: {{sitedata.slider_box_height}};}
        .post-box{
            height: {{sitedata.movie_box_height}};}
        .movie-banner{
            min-height: {{sitedata.movie_banner_min_height}};
        }
        
        {{sitedata.custome_css|safe}}
    </style>
</head>
<body>

    <!--==Navigation===================================-->
    <nav class="navigation">
        <!--menu-btn-->
        <input type="checkbox" class="menu-btn" id="menu-btn">
        <label for="menu-btn" class="menu-icon">
            <span class="nav-icon"></span>
        </label>
        <!--logo-->
        <a href="{% url 'index' %}" class="logo">
            {{sitedata.logo}}<span>.hd</span>
        </a>
        <!--menu-->
        <div class="side-menu">
        <div class="menu-container">
        <strong>Main Links</strong>
        <label for="menu-btn" class="close-btn">
            <i class="fa-solid fa-xmark"></i>
        </label>
        <ul class="menu">
            <li><a href="{% url 'index' %}">Home</a></li>
            {% for menu in menu %}
                <li><a href="{% url 'search' %}?search={{menu.name}}">{{menu.name}}</a></li>
            {% endfor %}
        </ul>
        </div>
        </div>
        <a href="{% url 'search' %}?search=Tv Show" class="nav_tv_shows"><i class="fa-solid fa-tv"></i> TV Shows</a>
        <!--Search-box-->
        <form action="{% url 'search' %}" method="GET" class="search-box">
            <!--input-->
            <input type="text" name="search" value="{{search}}" placeholder="Search Movie" class="search-input" required/>
            <!--btn-->
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <!--modes-->
        <div class="nav-modes">
            <i id="nav-modes" class="fa-solid fa-moon"></i>
        </div>
    </nav>
    <!--nav-end-->


    <!--==body======================================-->
    {% block body %}{% endblock body %}

    {% if sitedata.show_ads == True %}
        <div class="header-ad ads footer-ad">
            {{ads.footer_ad|safe}} 
        </div>
        <br/>
    {% endif %}

       <!--==footer==============================-->
       <footer>
        <!--footer-logo-->
        <a href="{% url 'index' %}" class="logo">
            {{sitedata.logo}}<span>hd</span>
        </a>
        <!--copyright-->
        <span class="copyright">
            {{sitedata.made_by}} - {{sitedata.copyright}}
        </span>
    </footer>
    


    <!--==scroll-top=======================-->
    <button onclick="scrollToTop()" id="scroll-btn" class="scroll-up hide">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
                d="M201.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 173.3 54.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"
                fill="#ffffff" />
        </svg>
    </button>


    {% if sitedata.show_ads == True and ads.show_fixed_ad == True %}
    <!--==fix-ad===========================-->
    <div id="ad-banner">
        <div id="ad-content">
            <a href="javascript:void(0);" id="ad-close">&times;</a>
            {{ads.fixed_ad|safe}}
        </div>
    </div>
    {% endif %}


    <!--==jQuery=======================================-->
    <script src="{% static 'js/jQuery.js' %}"></script>
    <script src="{% static 'js/dark.js' %}"></script>
    <!--==script======================================-->
    {% block script %}{% endblock script %}
    
    <script>
        /*--menu-btn-fixed-when-scroll============*/
        $(window).scroll(function(){
            if($(document).scrollTop() > 20){
                $('.navigation').addClass('fix-icon');
            }
            else{
                $('.navigation').removeClass('fix-icon');
            }
        });

        /*==scroll-to-top===================*/
        myID = document.getElementById("scroll-btn");
        var myScrollFunc = function () {
            var y = window.scrollY;
            if (y >= 200) {
                myID.className = "scroll-up show"
            } else {
                myID.className = "scroll-up hide"
            }
        };
        window.addEventListener("scroll", myScrollFunc);

        function scrollToTop() {
            window.scrollTo(0, 0);
        }

        {% if sitedata.show_ads == True and ads.show_fixed_ad == True %}
        /*==ad-script=============================*/
        document.getElementById('ad-close').addEventListener('click', function () {
            document.getElementById('ad-banner').style.display = 'none';
            document.getElementById('scroll-btn').style.bottom = '30px';
        });

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('ad-banner').style.display = 'flex';
        });
        {% endif %}

    </script>


    {{sitedata.bodyend_script|safe}}


</body>
</html>